{#
 # Event artist description
 # shortened to intro wiht a read more link
 #
 #}

{% if artist.complexContent|length > 0 %}
	{% set block = artist.complexContent.type('text').one() %}

	{% if block %}
		{% if not artist.hideMoreLink %}
			<div class="content-text">
				<div class="content-text-wrapper">{{ block.text|wordLimit(80) }}</div>
			</div>
			<a class="link-button" href="{{ artist.url}}">{{ 'Les mer'|t }}</a>
		{% else %}
			<div class="content-text">
				<div class="content-text-wrapper">{{ block.text }}</div>
			</div>
		{% endif %}
	{% endif %}
{% endif %}
