{#
 # General page template
 # Currently used for about (Ekko & Oestre), legal pages
 #}

{% extends "_layout" %}

{% set class = 'article-page' %}
{% set title = entry.title %}

{% block content %}
	<section class="section article__wrapper">

		<div class="article__header-media">
			{% include "partials/assets/pageCoverImage" %}
		</div>

		<div class="section__main">
	 		<div class="block">

				<header class="page__header">
						<h1 class="page__title">{{ entry.pageTitle }}</h1>
				</header>

				{# Description #}
				<article class="content content-container page__content">
					<div class="content-text">
						<div class="content-text-wrapper">
							{{ entry.pageContent }}
						</div>
					</div>
				</article>

			</div>
		</div>
	</section>

{% endblock %}
