
{# News page template #}
{# ------------------ #}

{% extends "_layout" %}

{% if entry.pagePhoto|length %}
	{% set asset = entry.pagePhoto.one() %}
{% endif %}

{% if asset is not defined and entry.newsPhoto|length %}
	{% set asset = entry.newsPhoto.one() %}
{% endif %}


{% set class = 'news-page' %}
{% set title = entry.title %}
{% set description = entry.newsIntro|striptags %}
{% set imageUrl = asset ? asset.getUrl('thumb_l') : "" %}

{% block content %}
    <section class="section article__wrapper">

        <div class="article__header-media">
            {% include "partials/assets/newsCoverImage" %}
        </div>

        <div class="section__main -center">
            <div class="block">

                <header class="page__header">
                    <h1 class="page__title">{{ entry.title }}</h1>
                    <p class="tiny">{{ entry.postDate|date('Y-m-d') }}</p>
                </header>

                {# Description #}
                <article class="content content-container page__content">
                    {# TODO: remove usage of deprecated newsContent  #}
                    {% include 'partials/elements/content' with {'complexContent': entry.complexContent, 'content': entry.newsContent} %}
                    
                    {# Back link #}
                    <div class="button-wrapper cf">
                        <a class="button button--right" href="{{ url('') ~ '#news' }}">{{ 'Nyheter'|t }}</a>
                    </div>
                </article>

            </div>
        </div>
    </section>
{% endblock %}
