{% extends "_layout" %}

{% set class = 'arena -dark theme-dark' %}
{% set title = title|default('Digital Arena') %}

{% set latestProject = craft.entries({'section': 'arena'}).one() %}
{% set nextProject = latestProject.getNext(craft.entries.section('arena')) %}

{% block content %}
  <div class="section">
    {% include "arena/partials/media/video-block.twig" with { project: latestProject } %}
    {% include "arena/partials/next-project-block.twig" with { currentProject: latestProject } %}
  </div>
{% endblock %}
