<style>
  label {
    display: block;
    padding: 2px 0;
  }
  label span {
    display: inline-block;
    width: 100px;
  }
</style>
<div class="container cf ">
  <div style="margin: 0 auto; width: 500px; margin-top: 100px;">
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="users/login">

        <div>
          <label><span>Bruker</span>
            <input type="text" name="loginName" autofocus
                value="{{ craft.app.user.rememberedUsername }}">
          </label>
        </div>

        <div>
          <label><span>Passord</span>
            <input type="password" name="password">
          </label>
        </div>

        <label>
            <input type="checkbox" name="rememberMe" value="1">
            Husk meg
        </label>

        <input type="submit" value="Login">

        {% if errorMessage is defined %}
            <p>{{ errorMessage }}</p>
        {% endif %}
    </form>

    <p><a href="{{ url('forgotpassword') }}">Glemt passord?</a></p>
  </div>
</div>
