{% set tag = craft.tags().group('digitalArenaProjects').title(tag).one() %}
{% set projects = craft.entries.section('arena').id('not ' ~ currentProject.id).relatedTo(tag).all() %}

{% if projects|length %}
  {# {% set title =  project.projectTitle ? "#{project.artistName} «#{project.projectTitle}»" : project.artistName %} #}
  {# {% set title = project.title %} #}

  <div class="header-grid full side-left" data-playing-dim>
    <div class="header-element -no-top">
      <div class="next-project-container">
        <span>Other in #{{ tag.title|upper }}</span>
        <ul>
        {% for project in projects %}
          {# {% set title =  project.projectTitle ? "#{project.artistName} «#{project.projectTitle}»" : project.artistName %} #}
          {% set title = project.artistName %}
          <li>
            <a class="content-link" href="{{ "/digitalarena/tag/#{tag}/#{project.slug}" }}">{{ title }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}