{% set hideEvent = hideEvent ?? false %}

<header class="block__header block__header--small -over">
	<div class="block__header-item -center">
		{{ hideEvent ? '' :  event.title }}
	</div>
</header>

<div class="event__header -center">
	<div class="artist__title">
		{{ artist.title }} {% if artist.artistMeta %}<span class="meta">({{ artist.artistMeta }})</span>{% endif %}
	</div>
</div>