

{% if meta is defined and meta|length %}
	<div class="meta-block-wrapper">
		<div class="link-block cf">
			<div class="link-block__title"><span class="">{{ 'Lenker'|t }}</span></div>
			<div class="link-block__content">
				<ul>
					{% for block in meta %}
						<li><a href="{{ block.linkUrl }}" target="_blank">{{ block.linkTitle }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}