
{# 
 #
 #}

<div>
	{% include 'partials/event/elements/meta' %}
</div>

<div class="content-text">
	<div class="content-text-wrapper">
		{{ event.intro }}
		{{ event.description }}
	</div>
</div>

{% for artist in artists %}
	{% if artist.complexContent|length > 0 or artist.description %}
		<div class="event__artist_content">
			<h2>{{ artist.title }}</h2>
			{% include 'partials/event/elements/artist_meta' %}
		</div>
	{% endif %}
{% endfor %}