

{# <div id="ticket-modal" data-remodal-id="buy-ticket"> #}
<div id="ticket-modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="modal-content">
  	{{ globalContent.ticketModalContent }}
  </div>

	<div id="modal-frame"></div>
</div>