{% extends "_layout" %}

{% set class = 'arena -dark theme-dark' %}
{% set title = entry.title ~ ' - Digital Arena' %}

{% block content %}
  <div class="section">
    {% include "arena/partials/media/video-block.twig" with { project: entry } %}
    {% include "arena/partials/next-project-block.twig" with { currentProject: entry } %}
  </div>
{% endblock %}