{% extends "_layout" %}

{% set class = 'arena -dark theme-dark' %}
{% set entry = craft.entries({'section': 'arena'}).slug(slug).one() %}
{% set title = entry.title ~ ' - Digital Arena' %}

{% block content %}
  <div class="section">
    {% include "arena/partials/media/video-block.twig" with { project: entry } %}
    {% include "arena/partials/next-tag-projects-block.twig" with { currentProject: entry, tag: tag } %}
  </div>
{% endblock %}