
{# 
 # Event full image block
 #}

<div class="block block--full event">

	{# Featured image #}
	<div class="block__image-wrapper">
		<a href="{{ event.url }}" title="{{ event.title }}">
			{% include "partials/assets/eventBlockImage" %}
		</a>
	</div>

	{# Header #}
	<div class="block__content-wrapper">
		{% include 'partials/event/block/header' %}
	</div>

</div>
