
{# 
 # Event full text block
 #}

<div class="block block--normal event event--text">
	<div class="block__content-wrapper">
		{% include 'partials/event/block/header' with {'headerClass': 'block__header--small'} %}
	</div>
</div>
