
{#
 # Artists section single entry template
 #
 #}

{% extends "_layout" %}

{% set class = 'single artist-page' %}
{% set title = entry.title %}

{# {% set artist = entry %}

{% set performances = craft.entries({
		'section': 'performance',
		'with': ['location']
	})
	.relatedTo({ targetElement: artist })
	.order('date desc')
%}

{% set currentPerformance = craft.ekko.currentPerformance(performances) %}

 #}

{% set event = craft.entries.section('events').relatedTo({
		targetElement: entry,
		field: 'performances'
	}).all()
%}

{% block content %}
    <h1>{{entry.title}}</h1>
    {% for e in event %}
        <h2>{{ e.title }}</h2>
    {% endfor %}
    <pre>
        {{ entry.date|date('Y-m-d') }}
    </pre>
{% endblock %}
